/*
These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
GitHub Profile: https://github.com/AshrafMorningstar
*/

body {
    background-color: #111;
    overflow: hidden;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    body,
    html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }
    svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
    cursor: pointer;
    }