/*
These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
GitHub Profile: https://github.com/AshrafMorningstar
*/

body {  
    background-color: #000;    
    margin: 0;  
    overflow: hidden;  
    background-repeat: no-repeat;  
   }  