html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background: rgb(30,30,30);
  overflow: hidden;
}

#C{
}

/* These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
https://github.com/AshrafMorningstar */